<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}mood_app{% endblock %}</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

  <header>
    <h1>mood_app</h1>

    {% if 'user_id' in session %}
      <nav>
        <a href="/record">Today</a> |
        <a href="/history">これまで</a> |
        <a href="/logout">ログアウト</a>
      </nav>
    {% endif %}
  </header>

  <main>
    {% block content %}
    <input type="text" name="good1" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false">
    <input type="submit" value="保存">
    {% endblock %}
  </main>

</body>
</html>
